<div class="container">
  <div class="row justify-content-center" style="margin-top: 5rem;">
    <div class="col-md-10">
      <h2 class="text-center"><%= I18n.t('page_title.invalid') %></h2>
      <h3 class="text-center"><%= I18n.t('subtitle.invalid') %></h3>
    </div>
  </div>
</div>

<div class="row justify-content-center" style="margin-top: 2rem;">
  <div class="col-md-4 col-sm-10 my-auto">
    <div class="row">
      <div class="col-md-10 align-self-center text-center">
        Phone number not verified
      </div>
      <div class="col-md-2 align-self-center text-center">
        <i class="far fa-thumbs-down fa-3x text-warning"></i>
      </div>
    </div>

    <div class="row" style="margin-top: 1rem;">
      <div class="col-md-10 align-self-center text-center">
        Email not verified
      </div>
      <div class="col-md-2 align-self-center text-center">
        <i class="far fa-thumbs-down fa-3x text-warning"></i>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center" style="margin-top: 2rem;">
  <a href="/credit_registrations/new/<%= @r.situation %>" class="btn btn-primary" role="button" aria-pressed="true">
    <%= I18n.t('invalid_page.button') %>
  </a>
</div>

<div class="row justify-content-center" style="margin-top: 2rem;">
  <div class="col-md-8">
    <p class="text-center"><%= I18n.t('invalid_page.attempts') %></p>
  </div>
</div>
